@model Issues.Models.Project;

<div class="text-center my-5">
    <div class="display-6">Create Project</div>
</div>
<div>
    <div class="text-danger" asp-validation-summary="All"></div>
</div>
<form asp-controller="Project" asp-action="Creatproject" method="post">
    <h4>Project Name</h4>
   <input type="text" name="ProjectName" class="form-control"/>
   <h4>Project Description</h4>
   <textarea name="ProjectDescription" class="form-control" rows="12"></textarea>
   <br />
   <input type="submit" value="Project Create" class="btn btn-primary" />
</form>